body {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  margin: 0 230px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 16px 0;
  background-color: #1f2937;
}

.header span {
  color: white;
  font-size: 24px;
  font-weight: 900;
}

.header ul{
  display: flex;
  margin: 0;
  padding: 0;
  gap: 24px;
  list-style: none;
}

.header a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.one {
  display: flex;
  background-color: #1f2937;
  gap: 32px;
}

.one-left {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  margin: 100px 0px 100px 200px;
  gap: 8px;
}

#title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

#subtitle {
  font-size: 18px;
  color: e5e7eb;
}

.one-left button {
  border: none;
  border-radius: 8px;
  background: #3882f6;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  padding: 8px 16px;
  max-width: 112px;
}

.one-right {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: #6d747d;
  height: 250px;
  margin: 100px 200px 100px 0px;
}

.one-right span {
  color: white;
}

.two {
  text-align: center;
  margin-bottom: 50px;
}

.two #info {
  padding: 48px 0 0;
  font-size: 38px;
  color: #1f2937;
  font-weight: 900;
}

.images {
  display: flex;
  justify-content: center;
  gap: 64px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  margin: 64px 0;
  gap: 8px;
}

.container div {
  display: flex;
  border-radius: 16px;
  border: 4px solid #3882f6;
  height: 150px;
  width: 150px;
}

.three {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e5e7eb;
  min-height: 400px;
}

.three-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.three-one {
  display: flex;
  font-size: 36px;
  color: #1f2937;
  font-weight: 00;
}

.three-two {
  display: flex;
  justify-content: right;
  font-size: 24px;
  color: #1f2937;
  font-weight: 600;
}

.four {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 350px;
}

.banner {
  display: flex;
  border-radius: 16px;
  background-color: #3882f6;
  height: 150px;
  width: 1035px;
}

.content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  padding: 0 125px;
}

.content-left {
  display: flex;
  flex-direction: column;
}

.content-left #content-left-one {
  color: white;
  font-size: 24px;
}

.content-left #content-left-two {
  color: white;
  font-size: 16px;
}

.content-right {
  display: flex;
}

.content-right button {
  border-radius: 8px;
  border: 2px solid white;
  background: #3882f6;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  padding: 8px 16px;
  min-width: 128px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  background-color: #1f2937;
  color: white;
  gap: 16px;
}